name: Translations download

on:
  workflow_dispatch:
  schedule:
    - cron: '00 3 * * 1'



jobs:
  crowdin-translations-to-pr:
    name: Create a PR with the latest translations from Crowdin
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Crowdin translations and create Pull Request
        uses: crowdin/github-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
        with:
          crowdin_branch_name: ${{ github.ref_name }}

          upload_sources: false
          upload_translations: false

          download_translations: true
          download_translations_args: '--language=it --language=es-ES --language=ko --language=zh-CN --language=ru --language=el --language=fr --language=uk'
          localization_branch_name: update-translations-crowdin
          push_translations: true
          commit_message: 'Update translations'

          create_pull_request: true
          pull_request_title: 'Update translations'
          pull_request_body: |
            **This is an automated PR.**

            This PR updates the translations using the content from Crowdin. Thanks to all the translators for the really hard work!!!

            If you want to help to make the localization better, or add a new language, go to [Crowdin](https://crowdin.com/project/expresslrs-configurator/) and start helping!.

            [crowdin.com/expresslrs-configurator](https://crowdin.com/project/expresslrs-configurator/)
